@use "../../../assets/style/_variables.scss" as *;

.chatLayout {
    // min-height: 500px;
    // border-radius: 12px;
    // box-shadow: 0 4px 24px rgba(0, 0, 0, 0.13);
    overflow: hidden;
    transition: background 0.2s, border 0.2s;
    background: #f7fafd;
    // border: 2px solid #e0e3eb;
}

[data-bs-theme="dark"] .chatLayout {
    background: #23262f;
    // border: 2px solid #353945;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.32);
}

.chatSidebar {
    width: 280px;
    transition: background 0.2s;
}

.chatBox {
    transition: background 0.2s;
}
